@media (max-width: 768px){

    .header{
       
        margin-top:0px;
     
         
    
    }
    .background-home{
        width: 100%;
        height: 750px;
        
    }
    .home-context h1{
       
        font-weight: 400;
        font-size: 24px;
        line-height: 90px;
       color: #FFFFFF;
        margin-top:40px;
    }
    .home-contact {
       
        gap: 8px;
        margin-top:60px;
     }
     .home-last-button .btn{
     
    padding: 15px 30px;
    margin-top: 160px;
     
     
     
    }  
    .frist-story h5{
      
    font-weight: 600;
    font-size: 26px;
   
       }
       .frist-story p{
    
    padding:0 10px 20px;
       }
       .last-story{
        display: flex;
       
        flex-direction: column;
        margin-bottom: 90px;
         
       }
       .point{
      margin-top: 20px;
          
        }

        .service-icon{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
        }

        .filter-gullary .filter-list{
     
       display: flex;
       flex-direction: column;
      padding: 0 5px 0 0;
    
          
           
          }
          .qullaey img{
            width:100%;
          height: 100%;
        margin-top:8px;
       
        }
        .image-story h5{
      font-size: 20px;
      font-weight: 600;
      padding: 0;
        }
        .clint-name h5{
  
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 30px;
           
            
            color: #6B7A99;
            
          }

        .product-card {
            width: 100%;
            height: 100%;
       
           
        
         padding: 10px;
         
         }
         .slider-buttons {
            position: absolute;
           right: 10px;
           top: -15px;
           
           
            transform: translateX(-50%);
           
           
          }
          .from--group label{
          
            font-weight:400;
            
            
          
          }
          .contact-button .btn{
           
            padding: 10px 20px;
        
            
             
          }
          .privacy-bottom{
            display: flex;
            justify-content: space-around;
            padding: 0 10px;
          }
    }

 